/* Css / Settings / Desktop / 1920 x 1080 */
body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    border: 0;
}
img {
    background-size: cover;
}
.gilroy__headline1--104px {
    font-family: gilroy, sans-serif;
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;
    font-style: normal;
}
.gilroy__headline2--64px {
    font-family: gilroy, sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    font-style: normal;
}
.gilroy__body3--medium {
    font-family: gilroy, sans-serif;
    font-weight: 600;
    font-style: normal;
}
.gilroy__body1--medium {
    /* Font-size / Line-weight: 20px / 28px */
    font-family: gilroy, sans-serif;
    font-weight: 600;
    font-style: normal;
}
.gilroy__body2--regular {
    /* Font-size / Line-weight: 20px / 28px */
    font-family: gilroy, sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Css / Buttons / Prefix */
.button__addbag--default {
    height: 75px;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: transparent;
    background-image: url(../img/plus\ icone.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
    text-align: left;
    font-size: 19px;
    font-weight: 700;
    padding-left: 32px;
    cursor: pointer;
}
.button__addbag--default:hover {
    background-color: #F3F3F3;
    border: none;
    transition: ease-in-out 2s;
}
.button__addbag--default:focus {
    background-color: #D2D2D2;
    transition: ease-in-out 1s;
    border: none;
}
/* Css / Gradient / Colors */
.webkit__colors {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.paragraph__black {
    color: #1F1F1F;
}
.inputs__text {
    color: #969696;
}
.ground__gray--default {
    background-color: #F3F3F3;
}
.gradient__tittle--color {
    background: -webkit-linear-gradient(right, #DADADA 10.00%, #9F9F9F 100%);
}
#gradient__white {
    background: -webkit-linear-gradient(right, #E4E4E4 10.00%, #FFFFFF 100%);
}
#gradient__golden {
    background: -webkit-linear-gradient(right, #FFE08D 10.00%, #FFB757 100%);
}
#gradient__grey {
    background: -webkit-linear-gradient(right, #464646 10.00%, #D3D3D3 100%);
}
#gradient__graphite {
    background: -webkit-linear-gradient(right, #232323 10.00%, #000000 100%);
}
/* Header / Navegation */
.header{
    display: flex;
    width: 100%;
    height: 10vh;
}
.header__container {
    display: flex;
    width: 90%;
    height: 100%;
    margin: auto;
}
.header__container--menu {
    display: none;
}
.header__container h4 {
    margin: auto 0;
    font-weight: 700;
    font-size: 18px;
}
.header__container--nav{
    display: flex;
    width: 45%;
    height: 100%;
    margin: auto;
    text-align: center;
}
.header__container--nav h5{
    width: 20%;
    margin: auto;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
}
.header__container--nav h5:hover {
    transition: ease-in-out 0.5s;
    color: #464646;
}
.header__container input{
    width: 20%;
    height: 52px;
    padding-left: 5%;
    margin: auto 24px auto 0;
    border-radius: 50px;
    background-image: url(../img/search\ icon.svg);
    background-position: 7.5%;
    background-repeat: no-repeat;
    border: none;
}
#bag__icon--container {
    display: flex;
    width: 52px;
    height: 52px;
    margin: auto 0;
    border-radius: 50px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
#bag__icon--container img {
    width: 18px;
    height: 20px;
    margin: auto;
}
#bag__icon--container:hover {
    background-color: #F2F2F2;
}
/* Prelude / Button */
.prelude{
    display: flex;
    width: 100%;
    height: 90vh;
    margin: 0;
}
.prelude__container{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.prelude__container--text{
    width: 45%;
    height: 100%;
}
.prelude__container--sneak{
    width: 55%;
    height: 100%;
}
.prelude__container--text h1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 220px;
    margin: 90px 0 0 0;
}
.prelude__container--text p {
    width: 67%;
    margin:0;
    font-weight: 500;
}
.prelude__container--text button{
    width: 60%;
    font-weight: 700;
    margin: 100px 0 0 0;
}
.prelude__eclipse{
    position: absolute;
    top: 20%;
    left: 50%;
    margin: 0;
    width: 37%;
    background-size: cover;
    transition: ease-in-out 1s;
}
.prelude__eclipse:hover {
    left: 45%;
    transition: ease-in-out 1s;
}
.prelude__sneak{
    position: absolute;
    width: 40%;
    background-size: cover;
    margin-left: 4%;
    top: 23%;
}
/* Demonstration */
.demo{
    margin-top: 200px;
    display: flex;
    width: 100%;
    height: 760px;
}
.demo__container{
    flex-direction: column-reverse;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
}
.demo__container h2{
    width: 100%;
    margin: 0;
    padding-top: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.demo__container--colors{
    display: flex;
    width: 188px;
    height: 32px;
    margin: 60px auto 0 auto;
}
.demo__container--colors span{
    display: block;
    border: 0.5px solid #000000;
    opacity: 0.5;
    width: 32px;
    height: 32px;
    margin: 0 8.69px;
    border-radius: 50px;
    cursor: pointer;
}
.demo__container--colors span:nth-last-child(1) {
    margin-right: 0;
}
.demo__container--colors span:nth-last-child(4) {
    margin-left: 0;
}
.demo__container img{
    width: 40%;
    display: flex;
    margin: 10px auto 0 auto;
    align-items: center;
}
.demo__container--span{
    display: flex;
    width: 69px;
    font-weight: 700;
    font-size: 20px;
    margin: 0 auto;
}
.demo__container button{
    display: flex;
    width: 27%;
    align-items: center;
    margin: 64px auto 0 auto;
}
/* Main / Primary */
.main__primary{
    display: flex;
    width: 100%;
    height: 500px;
    margin: 200px 0 0 0;
}
.primary__container{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.primary__container div{
    width: 50%;
}
.primary__container--text h2{
    height: 100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 40px 0 0 0;
}
.primary__container--text p{
    width: 95%;
    font-size: 20px;
    margin: 20px 0 0 0;
    font-weight: 500;
}
.primary__container--sneak img{
    width: 100%;
    height: 100%;
}
/* Main / Secundary */
.main__secundary{
    display: flex;
    width: 100%;
    height: 500px;
    margin: 150px 0 0 0;
}
.secundary__container{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.secundary__container div {
    width: 50%;
    height: 100%;
}
.secundary__container--sneak img{
    width: 38%;
    height: 100%;
}
.secundary__container--sneak img:nth-last-child(2){
    width: 60%;
    margin-right: 1%;
}
.secundary__container--text h2{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 40px 0 0 10%;
}
.secundary__container--text p{
    width: 90%;
    margin-left: 10%;
    font-size: 19px;
    font-weight: 500;
}
/* Main / Tercenary */
.main__tercenary{
    display: flex;
    width: 100%;
    height: 500px;
    margin: 150px 0 0 0;
}
.tercenary__container{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.tercenary__container div{
    width: 50%;
}
.tercenary__container--text h2{
    margin: 40px 0 0 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tercenary__container--text p{
    width: 88%;
    font-size: 19px;
}
.tercenary__container--sneak img{
    width: 100%;
    height: 100%;
}
/* Aside */
.aside{
    width: 98%;
    height: 720px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 200px;
    padding: 20px 0 0 2%;
}
.aside span{
    color: white;
    font-size: 90px;
}
.aside img {
    align-items: center;
}
/* Contact / Forms */
.contact {
    margin-top: 200px;
    display: flex;
    width: 100%;
    height: 750px;
}
.contact__container {
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.contact__container--map {
    width: 55%;
    height: 100%;
    border-radius: 0px 8px 8px 0px;
}
.contact__container--map img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact__container--sessions {
    width: 45%;
    background-color: #F3F3F3;;
    height: 100%;
    border-radius: 0px 8px 8px 0px;
}
.contact__container--sessions h2 {
    font-size: 40px;
    margin: 40px 0 20px 5%;
}
.contact__container--sessions input {
    display: block;
    width: 85%;
    height: 60px;
    margin: 20px auto 0 auto;
    background: #FFFFFF;
    border-radius: 12px;
    border-width: 0;
    padding-left: 5%;
    font-size: 17px;
}
.contact__container--sessions input:hover {
    border: 2px solid #D2D2D2;
}
.contact__container--sessions textarea {
    display: block;
    width: 85%;
    height: 250px;
    margin: 19px auto 0 auto;
    border-radius: 12px;
    border-width: 0;
    background-color: #FFFFFF;
    padding: 20px 0 0 5%;
    font-size: 17px;
}
.contact__container--sessions textarea:hover{
    border: 2px solid #D2D2D2;
}
.contact__container--sessions label {
    display: block;
    width: 90%;
    height: 20px;
    margin: 50px auto 0 auto;
}
.contact__container--sessions label span {
    vertical-align: top;
    height: 20px;
    color: #969696;
    margin-left: 5%;
    font-size: 17px;
}
#form__input--checkbox {
    display: initial;
    width: 20px;
    height: 20px;
    margin: 0;
}
.contact__container--sessions button {
    display: block;
    width: 90%;
    height: 60px;
    margin: 20px auto;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}
.contact__container--sessions button:hover {
    background-color: #F3F3F3;
    border: none;
    transition: ease-in-out 1s;
}
/* Footer */
.footer{
    width: 100%;
    height: 270px;
    background-color: #F3F3F3;
    margin-top: 150px;
}
.footer__container{
    display: flex;
    width: 90%;
    height: 215px;
    margin: 0 5% auto 5%;
    padding-top: 55px;
}
.footer__container ul {
    list-style-type: none;
    margin: 0 1% 0 1%;
    text-align: left;
}
.footer__container ul:nth-last-child(1) {
    display: flex;
}
.ul__space--li {
    margin: 20px 0;
}
.footer__container h4{
    width: 25%;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.footer__container--about{
    width: 20%;
    height: 200px;
}
.footer__container--feedback{
    width: 20%;
    height: 200px;
}
.footer__container--socials{
    width: 25%;
    height: 200px;
}
.footer__container--socials h3 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
}
.footer__container--ul {
    display: flex;
    margin-left: 0;
    padding-left: 0;
}
.footer__container--socials li{
    margin: 10px 5px 0 5px;
}
/* Mentorama */
.mentorama{
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #F3F3F3;
}
.mentorama img{
    width: 130px;
    height: 14px;
    background-size: cover;
}
.mentorama span{
    margin: 0 auto;
    font-size: 15px;
}