/* Css / Settings / Tablet / 800 x 700 a 1250 x 700*/
@media screen and (max-width: 1250px) {
/* Css / Buttons / Prefix */
    .gilroy__headline1--104px {
        font-family: gilroy, sans-serif;
        font-size: 80px;
        line-height: 110%;
        font-weight: 700;
        font-style: normal;
    }
    .gilroy__headline2--64px {
        font-family: gilroy, sans-serif;
        font-size: 50px;
        line-height: 64px;
        font-weight: 700;
        font-style: normal;
    }
    .gilroy__body1--medium {
        /* Font-size / Line-weight: 20px / 28px */
        font-family: gilroy, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 18px;
    }
    .gilroy__body2--regular {
        /* Font-size / Line-weight: 20px / 28px */
        font-family: gilroy, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
    }
    .gilroy__body3--medium {
        font-family: gilroy, sans-serif;
        font-weight: 510;
        font-style: normal;
        font-size: 20px;
    }
    .button__addbag--default {
        padding-left: 10px;
    }
/* Header / Navegation */
.header__container {
    width: 95%;
}
.header__container--nav {
    width: 65%;
    text-align: center;
}
.header__container--menu {
    display: none;
}
.header__container--nav h5 {
    font-weight: 500;
}
.header__container input {
    width: 40px;
    height: 40px;
    background-position-x: center;
}
#bag__icon--container {
    width: 40px;
    height: 40px;
}
#bag__icon--container img {
    width: 60%;
    height: 60%;
}
/* Prelude / Button */
.prelude__container--text {
    width: 50%;
}
.prelude__container h1 {
    height: 180px;
}
.prelude__container p {
    width: 100%;
    line-height: 140%;
    margin-top: 10px;
}
.prelude__container--text button {
    width: 80%;
    height: 80px;
}
.prelude__container--sneak {
    width: 50%;
}
.prelude__sneak {
    width: 40%;
    margin-left: 10%;
}
.prelude__eclipse {
    margin-left: 10%;
}
/* Demonstration */
.demo {
    margin-top: 100px;
}
.demo__container {
    width: 100%;
}
.demo__container button {
    width: 35%;
}
/* Main / Primary*/
.main__primary {
    height: 350px;
}
.primary__container--text h2 {
    height: 130px;
    margin-top: 0;
    line-height: 64px;
}
.primary__container--text p {
    width: 90%;
    line-height: 140%;
}
/* Main / Secundary */
.main__secundary {
    height: 350px;
}
.secundary__container--text h2 {
    display: block;
    height: 130px;
    margin-top: 0;
    line-height: 64px;
}
.secundary__container--text p {
    width: 90%;
    line-height: 140%;
}
.secundary__container--sneak img:nth-last-child(2) {
    width: 59%;
}
/* Main / Tercenary */
.main__tercenary {
    height: 350px;
}
.tercenary__container--text h2 {
    display: block;
    height: 130px;
    margin-top: 0;
    line-height: 64px;
}
.tercenary__container--text p {
    width: 90%;
    line-height: 140%;
}
/* Aside */
.aside {
    height: 450px;
    background-size: cover;
    padding-top: 50px;
    margin-top: 150px;
}
.aside span {
    width: 100%;
    font-size: 75px;
}
/* Contact / Forms */
.contact {
    margin-top: 150px;
    height: 600px;
    background-color: #F3F3F3;
}
.contact__container {
    width: 100%;
}
.contact__container--map {
    width: 50%;
}
.contact__container--map img {
    width: 95%;
    margin-left: 2%;
}
.contact__container--sessions {
    width: 50%;
}
.contact__container--sessions label {
    margin-top: 30px;
}
.contact__container--sessions button {
    margin-top: 35px;
}
.contact__container--sessions input {
    height: 65px;
    font-size: 20px;
}
.contact__container--sessions textarea {
    height: 120px;
    font-size: 20px;
}
.contact__container--sessions button {
    font-size: 20px;
    font-weight: 700;
}
/* Footer / Mentorama */
.footer {
    margin-top: 150px;
    height: 400px;
}
.footer__container {
    width: 95%;
}
.footer__container h4 {
    display: block;
    position: absolute;
}
.footer__container--about {
    padding-left: 0;
    margin: 30px 0 0 0;
}
.footer__container ul {
    width: 50%;
    margin: 50px auto auto 0;
}
.footer__container--socials {
    display: none;
}
.mentorama {
    margin-top: 120px
}
.mentorama img {
    width: 150px;
    height: 15px;
}
}
@media screen and (max-width: 920px) {
    .gilroy__headline1--104px {
        font-size: 60px;
    }
    .prelude__container--text h1 {
        height: 140px;
    }
}